.img-logo {
  width: 15%;
  margin: 30px auto;
  padding-bottom: 18px;
}

.nav-select {
  padding-bottom: 30px;
}

.receipt-content > p {
  font-size: 22px;
  line-height: 30px;
  color: rgb(101, 105, 124);
}
